.containerlogin{
  background-color: white;
  /* width: 50%; */
  width: 500px;
  padding: 30px;
  border-radius: 10px;
}

.btn-primary{
background-color: pink !important;
border: pink !important;
font-weight: 700;
color:black;
}

@media (max-width: 768px) {
  .containerlogin{
   
    width: 100%;
    margin: 10px;
  
  }
  
}
